{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center pt-5">
    <div class="col-md-4">
        <div class="card shadow border-0">
            <div class="card-header bg-dark text-white text-center py-3">
                <h5 class="mb-0">NOC Identity Access Terminal</h5>
            </div>
            <div class="card-body p-4">
                <form method="POST">
                    <div class="mb-3">
                        <label class="form-label fw-bold">System Username</label>
                        <input type="text" name="username" class="form-control" placeholder="Enter your ID" required autocomplete="off">
                    </div>
                    
                    <div class="mb-3">
                        <label class="form-label fw-bold">Designated Role</label>
                        <select name="role" class="form-select" required>
                            <option value="" disabled selected>Select your clearance level...</option>
                            <option value="Administrator">Administrator</option>
                            <option value="Network Engineer">Network Engineer</option>
                            <option value="OJT User">OJT</option>
                            <option value="Viewer/Manager">Viewer / Manager</option>
                        </select>
                    </div>

                    <div class="mb-4">
                        <label class="form-label fw-bold">Security Access Key</label>
                        <input type="password" name="password" class="form-control" placeholder="••••••••" required>
                    </div>
                    <button type="submit" class="btn btn-primary w-100 fw-bold">Authenticate Session</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}